<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculator</title>
    <style>
        input,option,select,button{
            padding: 20px;
        }
    </style>
</head>
<body>
    <form method="POST" > 
        {% csrf_token %}
        <label> Number 1 </label>
        <input type="text" name="val1" > 
        <br/> <br/>
        <label> Select OPR...... </label>
        <select name="opr"> 
            <option value="+"> + </option>
            <option value="-"> - </option>
            <option value="*"> * </option>
            <option value="/"> / </option>
        </select> 
        <br/> <br/>
        <label> Number 2 </label>
        <input type="text" name="val2" >
        <br/> <br/>
        <button type="submit"> 
            Calculate 
        </button>
        <br/> <br/>
        <label> Output </label>
        <input type="text" value="{{c}}">
    </form>
</body>
</html>