<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        newsDetails
    </title>
    <style>
        html{
            overflow-x: hidden;
        }
        body{
            margin: 0;
            padding: 0;
        }
        div{
            height: 100vh;
            width: 100%;
            display: grid;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;"> News Details </h1>
    <div>
        <h1>
            {{newzdetail.news_title}}
        </h1>
        <p>
            {{newzdetail.news_desc | safe }}
        </p>
    </div>
</body>
</html>