<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
<form method="post"      >
    {% csrf_token %}
    {{form}}
 
    <!-- <input type="text" value="{{username}}" name="username" />
    <input type="text" value="{{password}}" name="password" /> -->


    <button type="submit" > Save !!! </button>
</form>
        <input type="text" value="{{output}}" />
    </div>
</body>
</html>