<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10%;

        }
    </style>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <div>
        <img src="https://png.pngtree.com/thumb_back/fh260/background/20220319/pngtree-about-us-service-online-render-photo-image_5085.jpg" alt="">
        <h1> About US </h1>
    </div>

    {% endblock %}
</body>
</html>