<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10%;

        }
    </style>
</head>
<body>
{% extends 'base.html' %}

    {% block content %}

    <div>
        <img src="https://www.shutterstock.com/image-vector/vector-illustration-cool-detailed-red-260nw-94498447.jpg" alt="">
        <h1> HOme Page </h1>
    </div>

    {% endblock %}
</body>
</html>