<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10%;
        }
    </style>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <div>
        <img src="https://img.freepik.com/premium-vector/modern-menu-design-template-fast-food-restaurant_585266-131.jpg" alt="" width="200px" >
        <h1> MEnu PAge </h1>
    </div>

    {% endblock %}
</body>
</html>