{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

{% block content %}

<body style="background-color: #f8f9fa;">
<br/> <br/>
<div class="container" >
  <div class="row justify-content-center">
    <div class="col-md-8" style="background-color: #fff; padding: 30px; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
      <h2 style="text-align: center; margin-bottom: 20px;">Register</h2>
      <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username" style="font-weight: bold;">Username</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="email" style="font-weight: bold;">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="phone" style="font-weight: bold;">Phone Number</label>
          <input type="tel" class="form-control" id="phone" name="phone">
        </div>
        <div class="form-group">
          <label for="password" style="font-weight: bold;">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="confirm_password" style="font-weight: bold;">Confirm Password</label>
          <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 100%; padding: 10px; background-color: #007bff; border: none; color: #fff; cursor: pointer; border-radius: 4px;">Register</button>
      </form>
    </div>
  </div>
</div>
<br />

<script>
  key = '{{key}}'
  if (key != ''){
  alert(key)
  }
</script>
{% endblock %}
</body>
</html>
