<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        div{
            height: 200px;
            width: auto;
            background-color: gray;
        }
    </style>
</head>
<body>
    <h1>
        Show Data 
    </h1>
    {% for i in newss %}
        <div>
            <h1> {{i.news}} </h1>
            <p> {{i.newsInfo}} </p>
        </div>
    {% endfor %}
    <p>
       Name = {{entry.Name}} <br/>
       City = {{entry.City}} <br/>
       Email = {{entry.Email}} <br/>
       Contact = {{entry.Contact}} <br/>
    </p>
    {% for i in filterrr %}
    <p>
        Name = {{i.Name}} <br/>
        City = {{i.City}} <br/>
        Email = {{i.Email}} <br/>
        Contact = {{i.Contact}} <br/>
     </p>
    {% endfor %}
</body>
</html> 